# Byte-compiled / optimized / DLL files
**/__pycache__/*
*.py[cod]
*$py.class
.idea
*.DS_Store

# hydra stuff
outputs
logs
generated
wandb
baselines

# cluster
train*.sh
sample*.sh
eval*.sh
runs
samples
*.ipynb
*.sh

tests

# C extensions
*.so


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
data/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
src/*.egg-info/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache


# Sphinx documentation
docs/_build/
docs/api/generated/